USE [master]
GO
/****** Object:  Database [Blogs]    Script Date: 12/10/2015 2:53:27 PM ******/
CREATE DATABASE [Blogs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Blogs', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Blogs.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Blogs_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Blogs_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Blogs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Blogs]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[AccountStatus] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BlogPostHashtags]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogPostHashtags](
	[BlogPostID] [int] NOT NULL,
	[HashtagID] [int] NOT NULL,
 CONSTRAINT [PK_BlogPostHashtags] PRIMARY KEY CLUSTERED 
(
	[BlogPostID] ASC,
	[HashtagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BlogPosts]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogPosts](
	[BlogPostID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](128) NOT NULL,
	[BlogPostTitle] [nvarchar](100) NOT NULL,
	[BlogPostText] [text] NOT NULL,
	[TimeCreated] [datetime] NOT NULL,
	[ExpirationDate] [datetime] NULL,
	[Status] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[CoverImageUrl] [nvarchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BlogPostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryTitle] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hashtags]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hashtags](
	[HashtagID] [int] IDENTITY(1,1) NOT NULL,
	[HashtagTitle] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HashtagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StaticPages]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaticPages](
	[StaticPageID] [int] IDENTITY(1,1) NOT NULL,
	[StaticPageTitle] [nvarchar](100) NOT NULL,
	[StaticPageText] [text] NOT NULL,
	[UserID] [nvarchar](128) NOT NULL,
	[TimeCreated] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StaticPageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'0', N'Default')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'PR')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'06c53da2-4bfe-4a1f-86ad-cf045b593317', N'0')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'1bc9eb33-82eb-4caf-9445-76f11b5cae4f', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2ee5771a-f120-453f-8995-de7652ddd30d', N'1')
INSERT [dbo].[AspNetUsers] ([Id], [FirstName], [LastName], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [AccountStatus]) VALUES (N'06c53da2-4bfe-4a1f-86ad-cf045b593317', N'Test', N'Account', N'testaccount@jsdate.com', 0, N'ACXOj/QoiuaK+vj8OYsnse/fhv+nJMWs3zzEfpQbqpzuPuNxO5zJW2dhxK7YLwMy0w==', N'267b810e-e3c3-40ea-adcc-e98f9264c52f', NULL, 0, 0, NULL, 1, 0, N'testaccount@jsdate.com', 1)
INSERT [dbo].[AspNetUsers] ([Id], [FirstName], [LastName], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [AccountStatus]) VALUES (N'1bc9eb33-82eb-4caf-9445-76f11b5cae4f', N'JS', N'Date', N'admin@jsdate.com', 0, N'ALiXmybcXlhs9fSyz18LNuZr4CS6WIahikfA3p3qjVaL1ned2wie+dyfg8IiX18FZg==', N'764ed272-85e2-4c7e-8828-65e0a7882359', NULL, 0, 0, NULL, 1, 0, N'admin@jsdate.com', 1)
INSERT [dbo].[AspNetUsers] ([Id], [FirstName], [LastName], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [AccountStatus]) VALUES (N'2ee5771a-f120-453f-8995-de7652ddd30d', N'Timothy', N'Lin', N'tim@jsdate.com', 0, N'AFCLcnMFHZEQxQINzvIUvdNDVSvi2cH5MT2M4RyGeheNEFRFtJbBhiJ2lkb4kDKAXg==', N'1cc16e7d-11ad-4705-ab68-2f4a457403fa', NULL, 0, 0, NULL, 1, 0, N'tim@jsdate.com', 1)
INSERT [dbo].[BlogPostHashtags] ([BlogPostID], [HashtagID]) VALUES (1, 1)
INSERT [dbo].[BlogPostHashtags] ([BlogPostID], [HashtagID]) VALUES (1, 2)
INSERT [dbo].[BlogPostHashtags] ([BlogPostID], [HashtagID]) VALUES (1, 3)
SET IDENTITY_INSERT [dbo].[BlogPosts] ON 

SET IDENTITY_INSERT [dbo].[BlogPosts] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryTitle]) VALUES (1, N'Events')
INSERT [dbo].[Categories] ([CategoryID], [CategoryTitle]) VALUES (2, N'News')
INSERT [dbo].[Categories] ([CategoryID], [CategoryTitle]) VALUES (3, N'Opinions')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Hashtags] ON 

INSERT [dbo].[Hashtags] ([HashtagID], [HashtagTitle]) VALUES (1, N'Tim')
INSERT [dbo].[Hashtags] ([HashtagID], [HashtagTitle]) VALUES (2, N'cities')
INSERT [dbo].[Hashtags] ([HashtagID], [HashtagTitle]) VALUES (3, N'favorites')
SET IDENTITY_INSERT [dbo].[Hashtags] OFF
SET IDENTITY_INSERT [dbo].[StaticPages] ON 

INSERT [dbo].[StaticPages] ([StaticPageID], [StaticPageTitle], [StaticPageText], [UserID], [TimeCreated], [Status]) VALUES (3, N'YOLO', N'<p>YOLO</p>', N'74e60034-4ccf-4421-96cd-847d1aa2908a', CAST(N'2015-12-10 11:56:34.757' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[StaticPages] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 12/10/2015 2:53:27 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 12/10/2015 2:53:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 12/10/2015 2:53:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 12/10/2015 2:53:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 12/10/2015 2:53:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 12/10/2015 2:53:27 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BlogPostHashtags]  WITH CHECK ADD  CONSTRAINT [FK_BlogPostHashTags_BlogPosts] FOREIGN KEY([BlogPostID])
REFERENCES [dbo].[BlogPosts] ([BlogPostID])
GO
ALTER TABLE [dbo].[BlogPostHashtags] CHECK CONSTRAINT [FK_BlogPostHashTags_BlogPosts]
GO
ALTER TABLE [dbo].[BlogPostHashtags]  WITH CHECK ADD  CONSTRAINT [FK_BlogPostHashTags_Hashtags] FOREIGN KEY([HashtagID])
REFERENCES [dbo].[Hashtags] ([HashtagID])
GO
ALTER TABLE [dbo].[BlogPostHashtags] CHECK CONSTRAINT [FK_BlogPostHashTags_Hashtags]
GO
ALTER TABLE [dbo].[BlogPosts]  WITH CHECK ADD  CONSTRAINT [FK_BlogPosts_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[BlogPosts] CHECK CONSTRAINT [FK_BlogPosts_Categories]
GO
/****** Object:  StoredProcedure [dbo].[AddBlogPostHashtags]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[AddBlogPostHashtags]
(
	@BlogPostID int,
	@HashtagID int
)
as
begin

insert into BlogPostHashtags(BlogPostID, HashtagID)
values (@BlogPostID, @HashtagID)

end








GO
/****** Object:  StoredProcedure [dbo].[AddNewBlogPost]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[AddNewBlogPost]
(
	@BlogPostID int output,
	@UserID nvarchar(128),
	@BlogPostTitle nvarchar(100),
	@BlogPostText text,
	@TimeCreated datetime,
	@Status int,
	@CategoryID int,
	@Description nvarchar(250),
	@CoverImageUrl nvarchar(1000)
)
as
begin

insert into BlogPosts(UserID, BlogPostTitle, BlogPostText, TimeCreated, [Status], CategoryID, [Description], CoverImageUrl)
values (@UserID, @BlogPostTitle, @BlogPostText, @TimeCreated, @Status, @CategoryID, @Description, @CoverImageUrl)

set @BlogPostID = SCOPE_IDENTITY();

end








GO
/****** Object:  StoredProcedure [dbo].[AddNewHashtag]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[AddNewHashtag]
(
	@HashtagID int output,
	@HashtagTitle nvarchar(30)
)
as
begin
insert into Hashtags(HashtagTitle)
values(@HashtagTitle)

set @HashtagID = SCOPE_IDENTITY();

end








GO
/****** Object:  StoredProcedure [dbo].[AddNewStaticPage]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[AddNewStaticPage]
(
	@StaticPageID int output,
	@UserID nvarchar(128),
	@StaticPageTitle nvarchar(100),
	@StaticPageText text,
	@TimeCreated datetime,
	@Status int
)
as
begin

insert into StaticPages(UserID, StaticPageTitle, StaticPageText, TimeCreated, [Status])
values (@UserID, @StaticPageTitle, @StaticPageText, @TimeCreated, @Status)

set @StaticPageID = SCOPE_IDENTITY();

end



GO
/****** Object:  StoredProcedure [dbo].[AddRoleToUser]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[AddRoleToUser]
(
	@UserID nvarchar(128),
	@RoleID nvarchar(128)
)
as

begin

insert into [dbo].AspNetUserRoles(UserId, RoleId)
values (@UserID, @RoleID)

exec GetUserByID @UserID

end





GO
/****** Object:  StoredProcedure [dbo].[DeleteBlogPostHashtagsByBlogPostID]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeleteBlogPostHashtagsByBlogPostID]
(
@BlogPostID int
)
as
begin

delete BlogPostHashtags
	where BlogPostID = @BlogPostID

end

GO
/****** Object:  StoredProcedure [dbo].[EditBlogPost]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[EditBlogPost]
(
@BlogPostID int,
@BlogPostTitle nvarchar(100),
@BlogPostText text,
@Status int,
@CategoryID int,
@Description nvarchar(250),
@CoverImageUrl nvarchar(1000)
)
as
begin

update BlogPosts
	set BlogPostTitle = @BlogPostTitle,
	BlogPostText = @BlogPostText,
	[Status] = @Status,
	CategoryID = @CategoryID,
	[Description] = @Description,
	CoverImageUrl = @CoverImageUrl
	where BlogPostID = @BlogPostID

end

GO
/****** Object:  StoredProcedure [dbo].[EditStaticPage]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[EditStaticPage]
(
@StaticPageID int,
@StaticPageTitle nvarchar(100),
@StaticPageText text,
@Status int
)
as
begin

update StaticPages
	set StaticPageTitle = @StaticPageTitle,
	StaticPageText = @StaticPageText,
	[Status] = @Status
	where StaticPageID = @StaticPageID

end

GO
/****** Object:  StoredProcedure [dbo].[GetAllBlogPosts]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[GetAllBlogPosts]
as
begin

select b.BlogPostID, b.BlogPostTitle, b.BlogPostText, b.CategoryID, c.CategoryTitle,
b.TimeCreated, b.ExpirationDate, b.Status, b.UserID, u.Email, u.FirstName, u.LastName,
u.UserName, u.AccountStatus, ur.RoleId, b.CoverImageUrl, b.Description
	from BlogPosts b
	inner join Categories c
	on b.CategoryID = c.CategoryID
	inner join aspnetusers u
	on b.UserID = u.Id
	inner join AspNetUserRoles ur
	on u.Id = ur.UserId

end








GO
/****** Object:  StoredProcedure [dbo].[GetAllStaticPages]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Paaaaaaaaaaaat>
-- Create date: <12/3/2015>
-- Description:	<Get all static pages. all of them>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllStaticPages]
AS
BEGIN

select p.StaticPageID, p.StaticPageTitle, p.StaticPageText, p.UserID, p.TimeCreated, p.Status,
u.UserName, r.RoleId, u.Email, u.FirstName, u.LastName, u.AccountStatus
from StaticPages p
inner join AspNetUsers u
on p.UserID = u.Id
inner join AspNetUserRoles r
on u.Id = r.UserId

END








GO
/****** Object:  StoredProcedure [dbo].[GetAllUsers]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[GetAllUsers] as
begin
select u.Id as UserID, u.FirstName, u.LastName, u.Email, u.UserName, u.AccountStatus, r.Id as RoleID, r.Name as RoleName
	from AspNetUsers u
	inner join AspNetUserRoles ur
	on u.Id = ur.UserId
	inner join AspNetRoles r
	on ur.RoleId = r.Id
end








GO
/****** Object:  StoredProcedure [dbo].[GetBlogPostByID]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<PAAAAAAAT>
-- Create date: <12/3/2015>
-- Description:	<Getting Blog Post by ID>
-- =============================================
CREATE PROCEDURE [dbo].[GetBlogPostByID]
(
@BlogPostID int
)
AS
BEGIN
select b.BlogPostID, b.UserID, b.BlogPostTitle, b.BlogPostText, b.TimeCreated, b.ExpirationDate, b.[Status], b.CategoryID,
		c.CategoryTitle, u.UserName, r.RoleId, b.[Description], b.CoverImageUrl,
		u.Email, u.FirstName, u.LastName, u.AccountStatus
	from blogPosts b
	inner join Categories c
	on c.CategoryID = b.CategoryID
	inner join AspNetUsers u
	on b.UserID = u.Id
	inner join AspNetUserRoles r
	on r.UserId = u.Id
	where b.BlogPostID = @BlogPostID

END








GO
/****** Object:  StoredProcedure [dbo].[GetCategoryByID]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[GetCategoryByID] 
(
@CategoryID int
)
as
begin

select *
	from Categories c
	where c.CategoryID = @CategoryID

end






GO
/****** Object:  StoredProcedure [dbo].[GetHashtagByBlogPostID]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[GetHashtagByBlogPostID]
(
@BlogPostID int
)
as
begin

select h.HashtagID, h.HashtagTitle
	from Hashtags h
	inner join BlogPostHashtags bh
	on h.HashtagID = bh.HashtagID
	where bh.BlogPostID = @BlogPostID

end








GO
/****** Object:  StoredProcedure [dbo].[GetHashtagByID]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[GetHashtagByID] 
(
@HashtagID int
)
as
begin

select *
	from Hashtags h
	where h.HashtagID = @HashtagID

end






GO
/****** Object:  StoredProcedure [dbo].[GetPageByID]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Pat>
-- Create date: <12/3/2015>
-- Description:	<Getting Pages by their ID>
-- =============================================
CREATE PROCEDURE [dbo].[GetPageByID]
	-- Add the parameters for the stored procedure here
(
@staticPageId int
)
AS
BEGIN

select p.StaticPageID, p.StaticPageTitle, p.StaticPageText, p.UserID, p.TimeCreated, p.Status,
u.UserName, r.RoleId, u.Email, u.FirstName, u.LastName, u.AccountStatus
from StaticPages p
inner join AspNetUsers u
on p.UserID = u.Id
inner join AspNetUserRoles r
on u.Id = r.UserId
where p.StaticPageID = @staticPageId

END








GO
/****** Object:  StoredProcedure [dbo].[GetUserByID]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetUserByID]
(
@UserID nvarchar(128)
)
as
begin
select u.Id as UserID, u.FirstName, u.LastName, u.Email, u.UserName, u.AccountStatus, r.Id as RoleID, r.Name as RoleName
	from AspNetUsers u
	inner join AspNetUserRoles ur
	on u.Id = ur.UserId
	inner join AspNetRoles r
	on ur.RoleId = r.Id
	where u.Id = @UserID
end





GO
/****** Object:  StoredProcedure [dbo].[UpdateRoleByUserID]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[UpdateRoleByUserID]
(
@UserID nvarchar(128),
@RoleID nvarchar(128)
)
as
begin

update AspNetUserRoles
	set RoleId = @RoleID
	where UserId = @UserID

exec GetUserByID @UserID
end





GO
/****** Object:  StoredProcedure [dbo].[UpdateStaticPageStatus]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[UpdateStaticPageStatus]
(
	@Status int,
	@StaticPageID int
)
as
begin

update StaticPages
	set [Status] = @Status
	where StaticPageID = @StaticPageID

exec GetPageByID @StaticPageID

end


GO
/****** Object:  StoredProcedure [dbo].[UpdateStatus]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[UpdateStatus]
(
	@Status int,
	@BlogPostID int
)
as
begin

update BlogPosts
	set [Status] = @Status
	where BlogPostID = @BlogPostID

exec GetBlogPostByID @BlogPostID

end




GO
/****** Object:  StoredProcedure [dbo].[UpdateUserAccountStatus]    Script Date: 12/10/2015 2:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[UpdateUserAccountStatus]
(
@UserID nvarchar(128),
@AccountStatus int
)
as
begin

update AspNetUsers
	set AccountStatus = @AccountStatus
	where Id = @UserID

exec GetUserByID @UserID

end

GO
USE [master]
GO
